.footer {
  clear: both;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4vw;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bg-body);
}

.footer ion-icon[name="heart"] {
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  color: var(--heart-color);
  font-size: 1.5rem;
}

.footer__year {
  font-size: 0.8rem;
  margin-right: 4px;
}
