.header {
  background-color: var(--bg-default);
}

.headerContiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: var(--brand-primary);
  font-weight: 400;
  font-size: 1rem;
}

.nav :first-child {
  margin-right: 5px;
}

@media (max-width: 700px) {
  .headerContiner {
    padding: 15px 30px 15px 30px;
  }
}
