.detailsCardContainer {
  background-color: #ffffff;
  position: absolute;
  left: 60%;
  width: 250px;
  top: 25px;
  border: 0;
  box-shadow: none;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0, 0.3);
}

.detailsCard {
  background-color: #ffffff;
  color: #333333;
  border-radius: 0%;
}

.headline {
  margin-left: 13px;
}

.langAuthor {
  padding: 5%;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

.detailsCardCategory {
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsCardCategory,
.by,
.authorName {
  margin-right: 4px;
}

.by,
.authorName {
  font-size: 0.8rem;
  font-weight: 400;
}

.authorName {
  display: flex;
  color: #0768ac;
  text-decoration: underline;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addFavouritesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.favouritesContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 5%;
}

.favouritesContainer h5 {
  text-align: center;
  color: #dddddd;
  margin: 4%;
  font-size: 0.7rem;
}

.favouritesContainer h4 {
  font-weight: 700;
  font-size: 0.8rem;
  position: relative;
  right: 20px;
  border: 0;
}

@media (max-width: 700px) {
  .favouritesContainer h4,
  h5 {
    font-size: 1rem;
  }

  .favouritesContainer h4 {
    width: 80%;
    text-align: start;
  }

  .favouritesContainer span {
    font-size: 1.5rem;
  }

  .headline {
    margin-left: 25px;
  }

  .detailsCardContainer {
    position: relative;
    top: 10%;
    margin-top: 50px;
    left: 10%;
    width: 80%;
  }
}
