.addToFavouritesButton {
  background-color: var(--brand-secondary);
  width: 90%;
  padding: 5% 3% 5% 3%;
  font-size: 0.8rem;
  color: #f0f9ff;
  border: 0;
}

.addToFavouritesButton ion-icon {
  font-size: 1.5rem;
  margin-left: 5px;
}
